div.item-native{
  justify-content: center !important;
}

ion-select::part(container) {
  --highlight-color: none;
}

ion-item::part(native) {
  .item-inner {
    justify-content: space-around;
  }
}
