<ion-tabs class="flex md:hidden">

  <ion-tab-bar slot="bottom" class="flex md:hidden">
    <ion-tab-button tab="dashboard" (click)="goToTab('/dashboard')">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <div class="red-dot" *ngIf="notifications>0">
        <span class="number">{{notifications}}</span>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="finances" (click)="goToTab('/finances')">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" (click)="goToTab('/settings')">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
