<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678568956600-g1v5ut61ga7h9jt3ppmhk3j8fgkbi0on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678568956600-g1v5ut61ga7h9jt3ppmhk3j8fgkbi0on</string>
	<key>API_KEY</key>
	<string>AIzaSyBlQqM80VwDRBavYTkX1Uup-3KUjQvZa5w</string>
	<key>GCM_SENDER_ID</key>
	<string>678568956600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bytero.subtrakr</string>
	<key>PROJECT_ID</key>
	<string>sub-trakr</string>
	<key>STORAGE_BUCKET</key>
	<string>sub-trakr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678568956600:ios:e44220a77e153f133cda4d</string>
</dict>
</plist>